In [11]:
import functions_exercises as fe

fe.is_vowel('a')

True

In [13]:
from functions_exercises import calculate_tip

calculate_tip(.20, 120)

24.0

In [16]:
from functions_exercises import get_letter_grade as lg

lg(97)

'A'

In [6]:
from itertools import product

list(product('ABCD', '123'))

[('A', '1'),
 ('A', '2'),
 ('A', '3'),
 ('B', '1'),
 ('B', '2'),
 ('B', '3'),
 ('C', '1'),
 ('C', '2'),
 ('C', '3'),
 ('D', '1'),
 ('D', '2'),
 ('D', '3')]

In [8]:
from itertools import combinations

list(combinations('abcd', 2))

[('a', 'b'), ('a', 'c'), ('a', 'd'), ('b', 'c'), ('b', 'd'), ('c', 'd')]

In [9]:
from itertools import permutations

list(permutations('abcd', 2))

[('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('b', 'a'),
 ('b', 'c'),
 ('b', 'd'),
 ('c', 'a'),
 ('c', 'b'),
 ('c', 'd'),
 ('d', 'a'),
 ('d', 'b'),
 ('d', 'c')]

In [42]:
import json

dict_1 = json.load(open('profiles.json'))

print(len(dict_1))

19

In [24]:
num = 0
for n in dict_1:
    if n['isActive']:
        num += 1
print(num)

9

In [71]:
num = 0
for n in dict_1:
    if n['isActive'] == False:
        num += 1
print(num)

10

In [33]:
total = 0
for n in dict_1:
    num_str = n['balance']
    num_str = handle_commas(num_str)
    num_str = num_str.replace('$', '')
    num_str = num_str.replace(',', '')
    total += float(num_str)
    
print(total)

52667.02

In [68]:
total = 0
for n in dict_1:
    num_str = n['balance']
    num_str = handle_commas(num_str)
    num_str = num_str.replace('$', '')
    num_str = num_str.replace(',', '')
    total += float(num_str)
    
print(round(total/len(dict_1), 2))

2771.95

In [44]:
lowest = 10000
lowest_name = ''

for n in dict_1:
    num_str = n['balance']
    num_str = handle_commas(num_str)
    num_str = num_str.replace('$', '')
    num = float(num_str.replace(',', ''))
    
    if num < lowest:
        lowest_name = n['name']
        lowest = num

print(lowest_name, lowest)

Avery Flynn 1214.1

In [45]:
highest = 1000
highest_name = ''

for n in dict_1:
    num_str = n['balance']
    num_str = handle_commas(num_str)
    num_str = num_str.replace('$', '')
    num = float(num_str.replace(',', ''))
    
    if num > highest:
        highest_name = n['name']
        highest = num

print(highest_name, highest)

Fay Hammond 3919.64

In [58]:
fruits = [n['favoriteFruit'] for n in dict_1]

sb_count = fruits.count('strawberry')
ap_count = fruits.count('apple')
ba_count = fruits.count('banana')


print('strawberry:', sb_count, 'apple:', ap_count, 'banana:', ba_count)

strawberry: 9 apple: 4 banana: 6

In [67]:
greetings = [n['greeting'] for n in dict_1]
total = 0

for n in greetings:
    spot = n.find('unread')
    num = n[spot-3:spot]
    num = int(num)
    total += num

print(total)

210